<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sachatrauwaen/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sachatrauwaen" />
            <add key="ClearTextPassword" value="1af4e5bd67cfdf31ede1c77ab55ca7f599ca2401" />
        </github>
    </packageSourceCredentials>
</configuration>